.channelButton{
    width: 120px;
    height: 135px;
    padding: 14px;
    margin-top: 20px;
    max-width: 120px;
    img{
        width: 70px;
        height: 70px;
    }
    mat-nav-list{
        overflow-x: hidden;
    }
}
.channeList{
    min-height: min-content;
}