<mat-card>
    <mat-card-header>
        <mat-card-title>Welcome to TV Master</mat-card-title>
        <mat-card-subtitle>a place for all tv lovers who work on computer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        This site is free to use and a work in progress. Please understand that we do this on our free time so some channel may stop working sometimes.
        If that happen please contribute by reporting that channel so we can update it.
    </mat-card-content>
</mat-card>




  