.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.sidenav{
  display: block;
  align-items: center;
  justify-content: center;
  //width: 200px;
  //background: rgba(255, 0, 0, 0.5);
}
.container{
  position: absolute;
  top: 60px;
  bottom: 60px;
  left:0px;
  right:0px; 
}
.container2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  //background: url(../../../assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }

}
@import '~@angular/material/theming';

@mixin tvm-home-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  mat-toolbar {
    button {
      &.active {
        color: mat-color($accent, default-contrast);
        background-color: mat-color($accent);
      }
    }
  }
  mat-sidenav-container {
    mat-toolbar {
      button {
        &.active {
          color: mat-color($accent, default-contrast);
          background-color: mat-color($accent);
        }
      }

      .sign-in-button {
        color: mat-color($accent);
        border: 1px solid mat-color($accent);
      }

      .link {
        color: mat-color($primary, default-contrast);
      }
    }

    mat-sidenav {
      .mat-list-item {
        &.active {
          color: mat-color($accent, default-contrast);
          background-color: mat-color($accent) !important;

          &:hover {
            background-color: mat-color($accent, darker) !important;
          }
        }
      }
    }

    .footer {
      color: mat-color($primary, lighter);
      background-color: mat-color($primary, darker);

      .links,
      .signature {
        a {
          color: mat-color($primary, lighter);
          &:hover {
            color: mat-color($accent);
          }
        }
      }
    }
  }
}
