<div class="playerConatiner" *ngIf="channel">
    <mat-card-header>
      <button mat-icon-button routerLink="/channelForm/{{channel.name}}">
        <mat-icon mat-card-avatar aria-label="label" color="error">error</mat-icon>
      </button>
      <mat-card-title>{{channel.name}}</mat-card-title>
      <mat-card-subtitle>{{channel.desc}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="player">
      <div class="player" *ngIf="channel.name">
        <iframe class="playerFrame" [src]="channel.url" frameborder="0" allowfullscreen></iframe>
      </div>
    </mat-card-content>

      
</div>
