$tvm-black-primary: mat-palette($mat-blue, 700, 300, 900);
$tvm-black-accent: mat-palette($mat-deep-orange, A200);
$tvm-black-warn: mat-palette($mat-red, 500);

$tvm-black-theme: mat-dark-theme(
  $tvm-black-primary,
  $tvm-black-accent,
  $tvm-black-warn
);
