$tvm-primary: mat-palette($mat-indigo, 800, 300, 900);
$tvm-accent: mat-palette($mat-light-blue);
$tvm-warn: mat-palette($mat-pink, 600);

$tvm-theme: mat-light-theme($tvm-primary, $tvm-accent, $tvm-warn);
