$tvm-light-primary: mat-palette($mat-grey, 200, 500, 300);
$tvm-light-accent: mat-palette($mat-brown, 200);
$tvm-light-warn: mat-palette($mat-deep-orange, 200);

$tvm-light-theme: mat-light-theme(
  $tvm-light-primary,
  $tvm-light-accent,
  $tvm-light-warn
);
