$tvm-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$tvm-nature-accent: mat-palette($mat-deep-purple, 300);
$tvm-nature-warn: mat-palette($mat-red, 600);

$tvm-nature-theme: mat-light-theme(
  $tvm-nature-primary,
  $tvm-nature-accent,
  $tvm-nature-warn
);
